/*大Banner輪播區*/
/*--width:700px;height:235px;--*/
#TopAD{
	display:block;
	background-color:#f1f1f1;
	position:relative;
	width:900px;
	height:210px;
	margin:0 auto;
}
#TopAD .TopAdleft{
	position:absolute;
	left:0px;
	bottom:0px;
	width:900px;
	height:25px;
	line-height:25px;
	background-color:#0e72d0;
	z-index:100;
}
#TopAD .TopAdright{position:absolute; width:900px; height:185px; overflow:hidden;}


#TopAD .link {
	width:75px;
	height:25px;
	float:right;
}
#TopAD .link ul {
	padding:0;
	margin:0;
	list-style-type: none;
	display: block;
	padding-top:2px;
}
#TopAD .link ul li {
	display: block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	float: left;
	color: #fff;
	text-align: center;
	margin: 2px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#TopAD .link ul li.on {
	background: #fff;
	color: #0e72d0;
}
#TopAD .link ul li.off {
	background: #cfe5f7;
	color: #0e72d0;
}