@charset "big5";

.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2{
	width:13px;
	height:13px;
	vertical-align:middle;
	padding:5px 10px;
	min-width:13px;
	margin-top:0px;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
	padding-right: 3px;
}