@charset "utf-8";

#search{
	width:200px;
	margin:0 20px 0 0;
	float:right;
}
.twoColFixLtHdr #ebackery{
	font-size: 13px;
	color: #006699;
	height: 19px;
	margin-right: 30px;
	margin-left: 0px;
	text-align: right;
	float: right;
	clear: all;
}
.twoColFixLtHdr #ebackery a{
	color: #006699;
}
.twoColFixLtHdr #ebackery a:hover{
	color: #999;
}
img{
	vertical-align:middle;
	border-width:0px;
	border:0;
}

.res_banner{
	width:650px;
	height:135px;
	vertical-align:middle;
	padding:0px;
	margin:0px auto;
}
.vcr{
	width:600px;
	height:406px;
	background-color:#ddd;
	vertical-align:middle;
	text-align:center;
	padding:5px 0px;
	margin:0px auto;
}

/*主文區*/
#newsa {
	color: #666666;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	line-height: 1.5em;
	text-align: justify;
  text-justify:inter-ideograph;
}

#newsa h1{
	/*font-family:Verdana, Geneva, sans-serif;*/
	font-size: 19px;
	letter-spacing:1px;
	line-height:1.6;
	border-bottom-width:2px;
	border-bottom-style:dotted;
}
#newsa h1.t01{
	color:#005cab;
	border-bottom-color:#005cab;
	background:url(../images/h1_t01.gif) no-repeat right center;
}
#newsa h1.t02{
	color:#ec6d56;
	border-bottom-color:#ec6d56;
	background:url(../images/h1_t02.gif) no-repeat right center;
}
#newsa h1.t03{
	color:#3d9738;
	border-bottom-color:#3d9738;
	background:url(../images/h1_t03.gif) no-repeat right center;
}
#newsa h1.t04{
	color:#b60081;
	border-bottom-color:#b60081;
	background:url(../images/h1_t04.gif) no-repeat right center;
}
#newsa h1.t05{
	color:#a19600;
	border-bottom-color:#a19600;
	background:url(../images/h1_t05.gif) no-repeat right center;
}

#newsa h2{
	/*font-family:Verdana, Geneva, sans-serif;*/
	font-size: 16px;
	letter-spacing:1px;
	line-height:1.6;
}
#newsa h2.t01{
	color:#005cab;
}
#newsa h2.t02{
	color:#ec6d56;
}
#newsa h2.t03{
	color:#3d9738;
}
#newsa h2.t04{
	color:#b60081;
}
#newsa h2.t05{
	color:#a19600;
}
#newsa h3{
	font-size:15px; 
	color:#000; 
	font-weight:bold;
	text-indent:2em;
}
#newsa h4{
	font-size:15px; 
	font-weight:bold;
	/*text-decoration:underline;*/
}
#newsa h4.t04{
	color:#b60081;
}

#newsa p{
	font-size: 15px;
	line-height:1.8;
	/*text-indent:2em;*/
}
#newsa p.note{
	font-size: 13px;
	line-height:1.6;
	text-indent:0em;
	margin:4px 0px;
	padding:0px;
	color: #F60;
}
#newsa ol.note{
	font-size: 12px;
	margin:0px;
	padding:0px;
}
#newsa ol.note li{
	line-height:1.4;
	margin:0px;
	padding:0px;
	list-style: decimal;
	margin-left: 25px;
	color: #F60;
	margin-right: 20px;
}
#newsa ul li{
	margin:0px;
	margin-top:5px;
	padding:0px;
}

#newsa ul.list{
	font-size: 15px;
	margin:0px;
	padding:0px;
}
#newsa ul.list li{
	line-height:1.6;
	margin:0px;
	padding:5px 0px;
	list-style: square;
	margin-left: 25px;
	color: #666;
	margin-right: 20px;
}
#newsa ul.list li a{
	color: #666;
}
#newsa ul.list li a:hover{
	color:#2b539c;
    text-decoration:underline;
}
#newsa ul.list2{
	font-size: 15px;
	margin:0px;
	padding:0px;
	list-style-type:none;
}
#newsa ul.list2 li.nolink,
#newsa ul.list2 li a{
	display:block;
	width:90%;
	/*height:25px;*/
	line-height:25px;
	margin:0px 20px 0px 25px;
	padding:5px 0px 5px 25px;
	background: url(../images/point03.gif) no-repeat 5px center;
	color: #666;
	border-bottom:1px dotted #CCC;
}
#newsa ul.list2 li.nolink{
	color:#ff6633;
}
#newsa ul.list2 li.nolink span,
#newsa ul.list2 li a span{
	font-size: 13px;
	color:#8db9e6;
}
#newsa ul.list2 li a:hover{
	color: #2b539c;
	background-color:#fcf3d3;
}
#newsa table ul{
	margin:0px;
	padding:0px;
}
#newsa table ul li{
	font-size: 13px;
	line-height:1.6;
	margin:0px;
	padding:0px;
	list-style: disc;
	margin-left: 15px;
	color: #333;
	margin-right:15px;
}

#newsa table.tb01{
	font-size:13px;
	border-collapse:collapse;
	border-bottom:3px solid #005cab;
	*border-left:1px solid #005cab;
}
#newsa table.tb01 th{
	background-color:#005cab;
	border-right:1px solid #FFF;
	color:#FFFFFF;
	padding:4px 8px;
	text-align:center;
}
#newsa table.tb01 td{
	border-right:1px solid #005cab;
	border-bottom:1px solid #005cab;
	font-size:13px;
	line-height:1.5;
	color:#333;
	padding:4px 8px;
}
#newsa table.tb01 td:last-child{
	border-right:1px solid #FFF;
}
#newsa table.tb01 tr.even
{
	background-color:#dff2fc;
}

#newsa table.tb02{
	font-size:13px;
	border-collapse:collapse;
	border-bottom:3px solid #ec6d56;
	*border-left:1px solid #ec6d56;
}
#newsa table.tb02 th{
	background-color:#ec6d56;
	border-right:1px solid #FFF;
	color:#FFFFFF;
	padding:4px 8px;
	text-align:center;
}
#newsa table.tb02 td{
	border-right:1px solid #ec6d56;
	border-bottom:1px solid #ec6d56;
	font-size:13px;
	line-height:1.5;
	color:#333;
	padding:4px 8px;
}
#newsa table.tb02 td:last-child{
	border-right:1px solid #FFF;
}
#newsa table.tb02 tr.even
{
	background-color:#FADBDA;
}

#newsa table.tb03{
	font-size:13px;
	border-collapse:collapse;
	border-bottom:3px solid #3d9738;
	*border-left:1px solid #3d9738;
}
#newsa table.tb03 th{
	background-color:#3d9738;
	border-right:1px solid #FFF;
	color:#FFFFFF;
	padding:4px 8px;
	text-align:center;
}
#newsa table.tb03 td{
	border-right:1px solid #3d9738;
	border-bottom:1px solid #3d9738;
	font-size:13px;
	line-height:1.5;
	color:#333;
	padding:4px 8px;
}
#newsa table.tb03 td:last-child{
	border-right:1px solid #FFF;
}
#newsa table.tb03 tr.even
{
	background-color:#E9EFE0;
}

#newsa table.tb04{
	font-size:13px;
	border-collapse:collapse;
	border-bottom:3px solid #b60081;
	*border-left:1px solid #b60081;
}
#newsa table.tb04 th{
	background-color:#b60081;
	border-right:1px solid #FFF;
	color:#FFFFFF;
	padding:4px 8px;
	text-align:center;
}
#newsa table.tb04 td{
	border-right:1px solid #b60081;
	border-bottom:1px solid #b60081;
	font-size:13px;
	line-height:1.5;
	color:#333;
	padding:4px 8px;
}
#newsa table.tb04 td:last-child{
	border-right:1px solid #FFF;
}
#newsa table.tb04 tr.even
{
	background-color:#EEEDF6;
}

#newsa table.tb05{
	font-size:13px;
	border-collapse:collapse;
	border-bottom:3px solid #a19600;
	*border-left:1px solid #a19600;
}
#newsa table.tb05 th{
	background-color:#a19600;
	border-right:1px solid #FFF;
	color:#FFFFFF;
	padding:4px 8px;
	text-align:center;
}
#newsa table.tb05 td{
	border-right:1px solid #a19600;
	border-bottom:1px solid #a19600;
	font-size:13px;
	line-height:1.5;
	color:#333;
	padding:4px 8px;
}
#newsa table.tb05 td:last-child{
	border-right:1px solid #FFF;
}
#newsa table.tb05 tr.even
{
	background-color:#E3E9CF;
}
figure{
	text-align:center;
}
figcaption{
	font-size:14px;
	color:#069;
	margin:10px auto;
}
.p_01{
	
	background-color:#D4CFE6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	padding:10px 15px 10px 10px;
	color:#000;
}
.p_01 ul{
	padding:0px;
	margin:0px;
	margin-left:25px;
}
.p_01 ul li{
	padding:0px;
	font-size:13px;
	line-height:1.4;
	margin-bottom:5px;
}
.p_02{
	
	background-color:#6db758;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	padding:15px 15px;
	color:#FFF;
}
.p_02 p{
	font-size:13px;
	line-height:1.3;
	margin:0;
	margin-bottom:5px;
	padding:0px;
}
.u_01{
 	color: #F60;
	list-style-type:none;
	text-indent:-1.3em;
}
.o_01{
	
	background-color:#f35f44;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	padding:15px 15px;
	color:#FFF;
}
.o_01 ol{
	margin:0;
	padding:0px;
}
.o_01 ol li{
	font-size:15px;
	line-height:1.5;
	margin:5px 0;
	margin-left:25px;
	padding:0px;
}
.p_02 ol{
	margin:0;
	padding:0px;
}
.p_02 ol li{
	font-size:15px;
	line-height:1.5;
	margin:0;
	margin-left:25px;
	padding:0px;
}
/*主要內容區
#containitem
---------------------------------*/

#containitem{
	clear:both;
	display:block;
	width:630px;
	padding:0;
	margin:0;
	margin-left:20px;
	overflow:hidden;
}
#containitem ul {
	font-family:Verdana, Geneva, sans-serif;
	list-style-type:none;
	padding:0;
	margin:0;
	margin-top:10px;
	overflow:hidden;
}
#containitem ul li {
	float:left;
	display:block;
	width:190px;
	height:190px;
	padding:0px;
	margin-right:18px;
	font-size:12px;
	line-height:1.5;
	color:#5f6971;
	text-align:justify;
}
#containitem ul li img{
	margin: 0;
	margin-bottom:5px;
	border: none;
}
#containitem ul li a{
	display:block;
	color:#0d49a3;
	font-size:15px;
	font-weight:bold;
	padding-bottom:5px;
	margin-bottom:5px;
}
#containitem ul li a:hover{
	color:#ff5a00;
}

/*主要內容區2
#containitem2
---------------------------------*/

#containitem2{
	clear:both;
	display:block;
	width:640px;
	padding:0;
	margin:0;
	margin-left:10px;
	overflow:hidden;
}
#containitem2 ul {
	font-family:Verdana, Geneva, sans-serif;
	list-style-type:none;
	padding:0;
	margin:0;
	margin-top:10px;
	overflow:hidden;
}
#containitem2 ul li {
	float:left;
	display:block;
	width:150px;
	height:250px;
	padding:0px;
	margin-right:10px;
	font-size:12px;
	line-height:1.5;
	color:#5f6971;
}
#containitem2 ul li img{
	margin: 0px;
	margin-bottom:5px;
	border: none;
	vertical-align:middle;
}
#containitem2 ul li img.ico{
	margin: 0px 5px 5px 0px;
}
#containitem2 ul li a{
	font-size:15px;
	color:#0000f0;
	padding-bottom:5px;
	margin-bottom:5px;
}
#containitem2 ul li a:hover{
	color:#ff5a00;
}
#containitem2 ul ul {
	font-family:Verdana, Geneva, sans-serif;
	padding:0;
	margin:0;
	margin-top:10px;
	overflow:hidden;
}
#containitem2 ul ul li {
	display: block;
	background: url(../images/point03.gif) no-repeat left center;
	width: 135px;
	height: 35px;
	padding: 0px;
	padding-left: 15px;
	font-size: 15px;
	line-height: 35px;
	color: #5f6971;
	vertical-align: middle;
}
#containitem2 ul ul li a{	font-size: 15px; 	color: #666;}
#containitem2 ul ul li a:hover{color:#2b539c; text-decoration:underline;}
#containitem2 ul .title {
	height:25px;
	font-size:15px;
	line-height:25px;
	color:#5a934c;
	font-weight:bold;
}



/*下方回覆訊息*/
.feeback{
	display:block;
	width:560px;
	height:40px;
	background:#fef0bf url(../images/feeback.png) no-repeat 10px center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	padding:10px 15px 10px 75px;
	margin:15px auto;
	color:#666666;
	font-size:13px;
	line-height:1.6;
	letter-spacing:0px;
}
.feeback a{
	color:#d23c08;
}
/*頁籤*/
#abgne_block {
	width: 640px;
	/*width:100%;*/
}
#abgne_block ul, #abgne_block li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#abgne_block .tabs li {
	float: left;
	margin: 0 0 -1px 5px;
	border: 1px solid #ddd;
	background: #fafafa;
	height: 32px;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
}
#abgne_block .tabs li.active {
	background: #fff;
	padding-bottom: 1px;
	border-bottom: none;
}
#abgne_block .tabs li.hover{
	background: #f5f5f5; 
}
#abgne_block .tabs span {
	display: block;
	float: left;
	overflow: hidden;
	padding: 7px 15px 5px 15px;
}
#abgne_block .tab_container {
	clear: both;
	border: 1px solid #DDD;
	background: #fff;
	overflow: hidden;
	border-radius: 5px;
}
#abgne_block .tab_container ul {
	position: relative;
	height:610px;
	overflow: hidden;
}
#abgne_block .tab_container .tab_content li {
	position: absolute;
	width:98%;
	height: 590px;
	margin: 10px;
	background: #FFF;
	overflow: auto;
}
#abgne_block .tab_container .tab_content li img {
	display: block;
	float: left;
	margin-right: 15px;
}
#abgne_block .tab_container .tab_content li h3 {
	font-size: 22px;
	line-height: 22px;
	margin: 5px 0 15px;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: #337ab7;
}

.progress {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.progress-bar {
    font-size: 15px;
}
.progress-bar a{
	color:#FFFFFF;
	cursor:pointer;
	line-height:31px;
}
.bar_orange{
	font-size:15px;
	background-color:#EB8300;
	padding:3px 7px;
}
.progress-bar-success{
	background:url(../images/progress-bar-success-bg.jpg) no-repeat;
}
.progress-bar-warning{
	background:url(../images/progress-bar-warning-bg.jpg) no-repeat;
}
.progress-bar-primary{
	background:url(../images/progress-bar-primary-bg.jpg) no-repeat;
}
.progress-bar-danger{
	background:url(../images/progress-bar-danger-bg.jpg) no-repeat;
}
.progress-bar-info{
	background:url(../images/progress-bar-info-bg.jpg) no-repeat;
}
.table_font{
    font-size: 15px;
}

.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.text-info{
	color:#004986;/*#3FB6D8*/
}
.text-danger{
	color:#D03F3B;
}
.text-warning{
	color:#EEA033;
}
.text-success{
	color:#55B055;
}
.text-nowrap{
	white-space:nowrap;
}
.bg-default{
	background-color:#f3f2f2;
}
.bg-info{
	background-color:#C9E5F3;
}
.bg-danger{
	background-color:#EDD1D1;
}
.bg-warning{
	background-color:#FAF3CE;
}
.bg-success{
	background-color:#D4EBCB;
}
.bar-info{
	background-color:#C9E5F3;
}
.bar-danger{
	background-color:#EDD1D1;
}
.bar-warning{
	background-color:#FAF3CE;
}
.bar-success{
	background-color:#D4EBCB;
}
.media{
	clear:both;
	overflow:hidden;
	border-bottom:1px dotted #666;
	margin-bottom:10px;
}
.media-left{
	float:left;
	margin-right:15px;
	padding-top:5px;
}
.media-left img{
	border:2px solid #DDD;
}
.media-body{
	float:left;
	margin:0;
	padding:0;
	width:535px;
}
.media-body p{
	margin:0;
	padding:0;
}
.media-body a{
	color:#EEA033;
}
.media-body a:hover{
	color:#7f2d00;
}

.img-rounded{
	border-radius:5px;
}
/*摺疊選單*/
.ui-accordion .ui-accordion-content {
    padding: 0em 0.8em;
}

 #newsa #accordion h3,
 #newsa #accordion2 h3 {
    color: #337AC6;
    font-weight: bold;
    text-indent: 0em;
}
#qa .ui-widget-content {
	border: 1px solid #ddd !important;
	background: #fff;
	color: #333;
	border-radius:0px 0px 5px 5px ;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #003eff;
    background: #0068b7;
    font-weight: normal;
    color: #fff !important;
}
.ui-accordion-header-icon{
		display:none;
}

/*table*/
.table{
	width:100%;
	border-collapse:collapse;
	font-family: "Open Sans", "sans-serif","Trebuchet MS", "細明體", "新細明體";
}
.table th,
.table td{
	border-bottom:2px solid #FFF;
	padding:4px 6px;
}
.table tbody tr:nth-child(odd){
	/*background-color:#eee;*/
}
.table-bordered{
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-collapse:collapse;
}
.table-bordered td{
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:0;
}
.table a{
	color:#EEA033;
}
.table a:hover{
	color:#7f2d00;
}
span.act{
	color:#FFF;
	background-color:#004986;
	padding:3px 10px 4px 10px;
	border-radius:10px;
}
span.classroom{
	color:#FFF;
	background-color:#D03F3B;
	padding:3px 10px 4px 10px;
	border-radius:10px;
}
span.talk{
	color:#FFF;
	background-color:#EEA033;
	padding:3px 10px 4px 10px;
	border-radius:10px;
}
span.ask{
	color:#FFF;
	background-color:#55B055;
	padding:3px 10px 4px 10px;
	border-radius:10px;
}


/*分欄*/
.row{
	width:100%;
	overflow:hidden;
}
.col-md-6{
	width:45%;
	padding:5px 5px;
	float:left;
	margin-left:5px;
	margin-right:5px;
}
.thumbnail{
	display:block;
	width:100%;
	height:100%;
	padding:5px 5px;
	border:1px solid #DDD;
	border-radius:5px;
	overflow:hidden;
	text-align:center;

}
.thumbnail:hover{
	border:1px solid #3FB6D8;

}
.thumbnail img{
	width:95%;
	height:95%
}

/*頁簽*/

.ui-widget-content {
	border: 2px solid #f39800;
	background: #fff;
	color: #333;
	border-radius:5px;
}
.ui-widget-header {
    border: 1px solid #DDD;
		/*border-bottom-width:0px;*/
    background: url(../images/tab_bar_bg.gif);
    color: #333;
    font-weight: bold;
}
#jqtabs ul li{
	margin-right:3px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#jqtabs2 ul li{
	margin-right:3px;
	border-radius:5px;
	border-bottom-width:1px;
}

#jqtabs2 .ui-widget-header {
    border-width: 0px;
    background-image: none;
		background-color:transparent;
    color: #333;
    font-weight: bold;
}


/*HR 政策*/
.hr_policy{
	overflow:hidden;
	background:url(../images/hr_policy.jpg) left top;
	padding:10px 40px;
	border-radius:10px;
}

.hr_policy span{
	float:left;
	width:380px;
	line-height:2;
	color:#437D0E;
	padding-top:10px;
}
.hr_policy img{
	float:right;
	border:1px solid #DDD;
}
.pic_tb{
	width:100%;
	border-collapse:collapse;
}
.pic_tb td{
	width:50%;
}
.td_padding{
	border:1px solid #DDD;
	border-radius:10px;
	padding:4px;
	margin:4px;
	text-align:center;
}
.td_padding img{
	width:100%;
	/**width: 280px;*/
	border-radius:7px;
}
.pic_div{
	width:100%;
	border:1px solid #DDD;
	border-radius:5px;
	padding:5px;
	margin:5px;
}
.pic_div img{
	width:100%;
}
/*應徵流程*/
.hr1_1_btn{
	display:block;
	width:190px;
	height:150px;
  background: url(../images/hr_01_01_a_btn.jpg) left top;
	text-indent:-9999px;
	margin:auto;
}
.hr1_1_btn:hover{
  background: url(../images/hr_01_01_a_btn.jpg) left bottom;
}
#hr_t01{
	width:175px;
	font-size:13px;
	padding-right:15px;
}
.hr1_2_btn{
	display:block;
	width:190px;
	height:150px;
  background: url(../images/hr_01_01_b_btn.jpg) left top;
	text-indent:-9999px;
	margin:auto;
}
.hr1_2_btn:hover{
  background: url(../images/hr_01_01_b_btn.jpg) left bottom;
}
#hr_t02{
	width:175px;
	font-size:13px;
	padding-right:15px;
}
.hr1_3_btn{
	display:block;
	width:190px;
	height:150px;
  background: url(../images/hr_01_01_c_btn.jpg) left top;
	text-indent:-9999px;
	margin:auto;
}
.hr1_3_btn:hover{
  background: url(../images/hr_01_01_c_btn.jpg) left bottom;
}
#hr_t03{
	width:175px;
	font-size:13px;
	padding-right:15px;
}

.hr1_4_btn{
	display:block;
	width:142px;
	height:110px;
  background: url(../images/hr_01_02_a_btn.jpg) left top;
	text-indent:-9999px;
	margin:auto;
}
.hr1_4_btn:hover{
  background: url(../images/hr_01_02_a_btn.jpg) left bottom;
}
#hr_t04{
	width:127px;
	font-size:13px;
	padding-right:15px;
}
.hr1_5_btn{
	display:block;
	width:142px;
	height:110px;
  background: url(../images/hr_01_02_b_btn.jpg) left top;
	text-indent:-9999px;
	margin:auto;
}
.hr1_5_btn:hover{
  background: url(../images/hr_01_02_b_btn.jpg) left bottom;
}
#hr_t05{
	width:127px;
	font-size:13px;
	padding-right:15px;
	text-align:left;
}
.hr1_6_btn{
	display:block;
	width:142px;
	height:110px;
  background: url(../images/hr_01_02_c_btn.jpg) left top;
	text-indent:-9999px;
	margin:auto;
}
.hr1_6_btn:hover{
  background: url(../images/hr_01_02_c_btn.jpg) left bottom;
}
#hr_t06{
	width:127px;
	font-size:13px;
	padding-right:15px;
}
.hr1_7_btn{
	display:block;
	width:142px;
	height:110px;
  background: url(../images/hr_01_02_d_btn.jpg) left top;
	text-indent:-9999px;
	margin:auto;
}
.hr1_7_btn:hover{
  background: url(../images/hr_01_02_d_btn.jpg) left bottom;
}
#hr_t07{
	width:127px;
	font-size:13px;
	padding-right:15px;
}






/*學習管道*/

.t2_1_1_btn{
	display:block;
	width:217px;
	height:135px;
  background: url(../images/t2_01_btn.jpg) left top;
	text-indent:-9999px;
	margin:auto;
}
.t2_1_1_btn:hover{
  background: url(../images/t2_01_btn.jpg) left bottom;
}
#pop01{
	background: url(../images/pop_01.jpg);
	padding:10px 20px 10px 40px;
	font-size:15px;
	vertical-align:top;
	color:#1859BD;
	width:211px;
	height:288px;
}
.t2_1_2_btn{
	display:block;
	width:157px;
	height:171px;
  background: url(../images/t2_02_btn.jpg) left top;
	text-indent:-9999px;
}
.t2_1_2_btn:hover{
  background: url(../images/t2_02_btn.jpg) left bottom;
}
#pop02{
	background: url(../images/pop_02.jpg);
	padding:10px 20px 10px 40px;
	font-size:15px;
	vertical-align:top;
	color: #F06614;
	width:211px;
	height:288px;

}
.t2_1_3_btn{
	display:block;
	width:161px;
	height:171px;
  background: url(../images/t2_03_btn.jpg) left top;
	text-indent:-9999px;
}
.t2_1_3_btn:hover{
  background: url(../images/t2_03_btn.jpg) left bottom;
}
#pop03{
	background: url(../images/pop_03.jpg);
	padding:10px 20px 10px 40px;
	font-size:15px;
	vertical-align:top;
	color: #509718;
	width:211px;
	height:288px;
}

/*新人培訓課程*/

.ani_tb{
	border-collapse:collapse;
	margin:0 auto;
}
.ani_tb td{
	padding:0px;
}
.t3_1_1_btn{
	display:block;
	width:222px;
	height:128px;
  background: url(../images/t3_01_01_btn.jpg) left top;
	text-indent:-9999px;
}
.t3_1_1_btn:hover{
  background: url(../images/t3_01_01_btn.jpg) left bottom;
}
.t3_1_1_bg{
	background: url(../images/t3_01_01r.jpg);
	padding:10px !important;
	font-size:15px;
	vertical-align:top;
	color:#1859BD;
	width:375px;
}
.t3_1_2_btn{
	display:block;
	width:222px;
	height:128px;
  background: url(../images/t3_01_02_btn.jpg) left top;
	text-indent:-9999px;
}
.t3_1_2_btn:hover{
  background: url(../images/t3_01_02_btn.jpg) left bottom;
}
.t3_1_2_bg{
	background: url(../images/t3_01_02r.jpg);
	padding:10px !important;
	font-size:15px;
	vertical-align:top;
	color: #509718;
	width:375px;
}
.t3_1_3_btn{
	display:block;
	width:222px;
	height:103px;
  background: url(../images/t3_01_03_btn.jpg) left top;
	text-indent:-9999px;
}
.t3_1_3_btn:hover{
  background: url(../images/t3_01_03_btn.jpg) left bottom;
}
.t3_1_3_bg{
	background: url(../images/t3_01_03r.jpg);
	padding:10px !important;
	font-size:15px;
	vertical-align:top;
	color: #F06614;
	width:375px;
}